{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}
    {# <img src="img/Z4 site FR.jpg" alt="Voiture avec fausse plaque"id="voitureExemple"> #}
    <div class="titleHome">
        <img src="img/Z4_site_FR.jpg" alt="voiture avec une fausse plaque" class="sousTitre">
        <h1 class="textBlanc title">Personnaliser vos cadres de plaque</h1>
    </div>
    <section class="produits">
        <div class="barrette">
            <img src="img/barrette.jpg" alt="Barrette de plaque<" width="500">
            <h4>Barrette de plaque</h4>
            <button class="btn-bleu">Commander</button>
        </div>
        <div class="cache">
            <img src="img/cache.jpg" alt="Cache de plaque">
            <h4>Cache de plaque</h4>
            <button class="btn-bleu">Commander</button>
        </div>
        <div class="cadre">
            <img src="img/cadre.png" alt="Cadre de plaque">
            <h4>Cadre de plaque</h4>
            <button class="btn-bleu">Commander</button>
        </div>
        <div class="forfait">
            <img src="img/crayons.jpg" alt="Forfait graphisme">
            <h4>Forfait graphisme</h4>
            <button class="btn-bleu">Détail</button>
        </div>
    </section>
    <h3>Vous peronnalisez, nous réalisons!</h3>
    <h4>Un outil de personnalisation à votre disposition</h4>
    <section class="outils">
        <div class="creation">
            <h5>Créez vos propres décorations avec l'outil de personnalisation</h5>
            <p>L'outil de personnalisation est à votre disposition pour créer vos propres décoration.</p>
            <p>Utilisez les logos et polices de texte de notre banque de données</p>
            <p>Téléversez vos propres images et police de texte</p>
            <p>Sauvegardez votre décoration dans votre blibliothèque</p>
            <button>Créer</button>
        </div>
    </section>
{% endblock %}
