{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}
    <h1>Personnaliser vos cadres de plaque</h1>
    <section class="produits">
        <div class="barrette">
            <h4>Barrette de plaque</h4>
            <button>Commander</button>
        </div>
        <div class="cahce">
            <h4>Cache de plaque</h4>
            <button>Commander</button>
        </div>
        <div class="cadre">
            <h4>Cadre de plaque</h4>
            <button>Commander</button>
        </div>
        <div class="forfait">
            <h4>Forfait graphisme</h4>
            <button>Détail</button>
        </div>
    </section>
    <h3>Vous peronnalisez, nous réalisons!</h3>
    <h4>Un outil de personnalisation à votre disposition</h4>
    <section class="outils">
        <div class="creation">
            <h5>Créez vos propres décorations avec l'outil de personnalisation</h5>
            <p>L'outil de personnalisation est à votre disposition pour créer vos propres décoration.</p>
            <p>Utilisez les logos et polices de texte de notre banque de données</p>
            <p>Téléversez vos propres images et police de texte</p>
            <p>Sauvegardez votre décoration dans votre blibliothèque</p>
            <button>Créer</button>
        </div>
    </section>
{% endblock %}
