<h1>Bonjour ! Confirmez votre adresse Email!</h1>

<p>
    Confirmez votre adresse Email en cliquant sur ce lien: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer Email</a>.
    Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Cordialement !
</p>
