{% extends 'base.html.twig' %}

{% block title %}Détail du produit{% endblock %}

{% block body %}

<h1>{{ produit }}</h1>

<p>{{ produit.descriptif }}</p>
<a class="btn-bleu" href="{{ path('create_exemplaire', {'id': produit.id}) }}">Personnaliser</a><br>
<a class="btn-bleu" href="{{ path('app_produit') }}">Retour</a><br>

{% endblock %}