*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    /* ce sont les couleurs du site */
    --gris: #D9D9D9;
    --rouge: #D20000;
    --bleu:  #22458F;
    --vert: #39A200;
}

body {
    background-color: rgb(245, 245, 245);
    width: 100%;
    /* ceci est l'en-tete */
    header{
        width: 100%;
        height: 30px;
        nav{
            width: 100%;
            height: 25px;
            display: flex;
            justify-content: space-around;
            /* cela représente le logo */
            img{
                height: 23px;
            }
            /* cela représente les liens */
            a{
                text-decoration: none;
                color: black;
            }
        }
        .ligne{
            height: 5px;
            background: linear-gradient(90deg,rgba(210, 0, 0, 1) 0%, rgba(34, 69, 143, 1) 100%);
        }
    }
    /* pour mettre du texte en blanc */
    .textBlanc{
        color: white;
    }
    .titleHome{
        height: 85vh;
        width: 100%;
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: center;
        background:linear-gradient( transparent 70%, rgb(74, 74, 74),  #ffffff);
        .sousTitre{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: bottom;
            position: absolute;
            top: 0px; left: 0px;
            z-index: -1; /* je met l'image en arriere plan */
        }
        h1{
            width: 25%;
            margin-left: 50px;
            backdrop-filter: blur(2px); /* pour mettre le fond d'ecran en "fondu" */
        }
        .produits{
            display: flex;
            flex-direction: row;
            .produit{
                width: 20px;
                img{
                    width: 50%;
                }
            }
        }
    }
    .btn-bleu{
        background-color: var(--bleu);
        padding: 5px 10px;
        border-radius: 15%;
        color: white;
    }
}
