

h1 {
    padding: 1em;
}

.disposition-bibliotheque {
    background-color: var(--gris);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}


/* 
Style de la barre donglets
*/
/* style du fond */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* style des boutons */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* boutons over */
.tab button:hover {
  background-color: #ddd;
}

/* onglet courant */
.tab button.active {
  background-color: #ccc;
}



#liste-barrette {
    width: 90%;
    overflow-y: auto;
}

#liste-cacheplaque {
    width: 90%;
    overflow-y: auto;

}

#couple-cacheplaque {
    display: flex;
    justify-content: space-between;
}

#liste-cacheplaque-avant, #liste-cacheplaque-arriere {
    width: 49%;
    overflow-y: auto;
}

.exemplaire {
    display:flex;
    background-color: white;
    border-radius: 10px;
    height: 130px;
    width: 95%;
    padding: 1em;
    margin: 1em 0;
    justify-content: space-between;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}
.barrette {
    display: flex;
    /* align-self: center; */
    width: 75%;          
    flex-direction: column;
    justify-content: space-evenly;
}
    
.cache-avant {
    display: flex;
    /* align-self: center; */
    width: 72.72%;          
    flex-direction: column;
    justify-content: space-evenly;       
}
.cache-arriere {
    display: flex;
    /* align-self: center; */
    width: 75%;          
    flex-direction: column;
    justify-content: space-evenly;       
}

    
.exemplaire-info {
    /* display: flex; */
    width: 75%;
}

.visuel {
    max-width: 90%;
    /* max-height: 100%; */
    object-fit: scale-down;
}
.avant {
    max-height: 72.72%;
}
.arriere {
    max-height: 90%;
}   


.exemplaire-choix {
    width: 20%;
    text-align: center;
    align-self: center;
    
}
