
.liste-exemplaire{
    overflow-y: auto;
    flex-grow: 1; /*prend l’espace restant */
    justify-items: center;
    .exemplaire {
        display:flex;
        background-color: white;
        border-radius: 10px;
        height: 110px;
        width: 95%;
        padding: 1em;
        margin: 1em 0;
        .exemplaire-info {
            /* display: flex; */
            width: 75%;
        }
    }
}