
/* CSS pour la page de commande de barrette */




.disposition-commande {
    background-image: url('../images/Z4_site_FR.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choix-decoration {
    background-color: var(--gris);
    border-radius: 30px  0 0 30px; /* top-left top-right bottom-right bottom-left*/
    padding: 1em;
    height: 75vh;
    width: 45%;
    display: flex;
    flex-direction: column;
}

.choix-menu{
    width: 100%;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    .choix-menu-option{
        text-align: center;
    }
}

.liste-exemplaire{
    overflow-y: auto;
    flex-grow: 1; /*prend l’espace restant */
    justify-items: center;
}

.exemplaire {
    display:flex;
    background-color: white;
    border-radius: 10px;
    height: 100px;
    width: 95%;
    padding: 1em;
    margin: 1em 0;
    justify-content: space-between;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
    .exemplaire-info {
        display: flex;
        /* align-self: center; */
        width: 75%;          
        flex-direction: column;
        justify-content: space-evenly;       
    }
}

.exemplaire-choix {
    width:20%;
    text-align: center;
    align-self: center;
    
}


    

.visuel {
    max-width: 100%;
    /* max-height: 100%; */
}

.commande-barrette {
    background-color: white;
    border-radius: 0 30px 30px 0; /* top-left top-right bottom-right bottom-left*/
    padding: 1em;
    height: 75vh;
    width: 45%;
    
}

.exemplaire-commande {
    display: flex;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 10px;
    padding: 1em; 
    margin-bottom: 1em; 
    height: 110px;
    /* color: #666; */
    .exemplaire-info {
        display: flex;
        /* align-self: center; */
        /* width: 75%;           */
        flex-direction: column;
        justify-content: space-evenly;       
    }
}

.quantite-input {
    width: 80px;
    height: 30px;
    text-align: center;
}

