/* CSS pour la page du panier */

.fa-xmark:hover {
    color: var(--rouge);
}

.disposition-panier {
    background-image: url('../images/Z4_site_FR.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recap-panier {
    background-color: var(--gris);
    border-radius: 30px;
    padding: 1em;
    height: 75vh;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.panier{
    display: flex;
    height: 65vh;
}

.liste-article{
    width: 80%;
    margin: 0 1em;
    overflow-y: auto;
    flex-grow: 1; /*prend l’espace restant */
}

.article {
    display:flex;
    background-color: white;
    border-radius: 10px;
    height: 130px;
    width: 98%;
    padding: 1em;
    margin: 1em 0;
    justify-content: space-between;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}

.exemplaire-info {
        display: flex;
        width: 15%;
        flex-direction: column;
        justify-content: space-evenly;
}

    .exemplaire-image {
    display: flex;
    width: 45%;
    /* align-self: center; */         
    flex-direction: column;
    justify-content: space-evenly;       
}

.article-quantite {
    display: flex;
    flex-direction: column;
    width: 20%;
    align-items: center;
    font-weight: bold;
}
.article-total {
    width: 20%;
    justify-items: center;
    font-weight: bold;
}
.article-supprimer{
    display: flex;
    /* align-items: center; */
    font-size: large;      
}


.visuel {
    max-height: 90%;
    object-fit: scale-down;
}


.total-commande {
        width:20%;
        background-color: white;
        border-radius: 10px;
        /* height: 110px; */
        padding: 1em;
        margin: 1em;
        }



.quantite {
    display: flex;
    align-items: center;
    gap: 5px;
}

.quantite-input {
    width: 80px;
    height: 30px;
    text-align: center;
}

#prix-total-panier {
    font-weight: bold;
}


