{% extends 'base.html.twig' %}

{% block title %}Liste des logos{% endblock %}

{% block body %}

<h1>Liste des logos</h1>

{% for logo in logos %}
    {{ logo.nomLogo }}<br>
{% endfor %}

{% endblock %}