{% extends 'base.html.twig' %}

{% block title %}Détail des forfaits{% endblock %}

{% block body %}
<h1>Détail des forfaits</h1>

<p>Description du fonctionnement des forfaits.</p>
<p>Le client y trouve les infos nécessaires.</p>
<p>Le forfait graphisme permet au client de bénéficier de notre service graphisme et de notre suivi dans la création de l'exemplaire jusqu'à la validation du BAT.</p>
<p>Une fois le BAT validé, l'exemplaire est mis à disposition dans la bibliothèque du client.</p>
<p>Le forfait graphisme n'engage pas le client à faire une commande par la suite.</p>
<p>Si le client passe une première commande de cette exemplaire, le prix du forfait est soustrait de sa commande.</p>

<a class="btn-bleu" href="">Ajouter au panier</a>





{% endblock %}
