{% extends 'base.html.twig' %}

{% block title %}Liste des fonds{% endblock %}

{% block body %}

<h1>Liste des fonds</h1>

{% for fond in fonds %}
    {{ fond.couleurFond }}<br>
{% endfor %}

{% endblock %}
